# Virtual Environment
.venv/
venv/
ENV/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment Variables / Secrets
.env
.env.local
*.pem
*.key

# Logs & Database
*.log
*.sqlite
*.sqlite3

# OS Specific
.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/
